static:
  build: ./static/
  ports:
    - "127.0.0.1:2992:2992"
  volumes:
    - ./static:/static

nginx:
  build: ./nginx/
  ports:
    - "80:80"
  volumes_from:
    - static
  links:
    - web:web

web:
  build: ./web/
  command: python manage.py runserver 0.0.0.0:8000
  volumes:
    - ./web:/code
  volumes_from:
    - static
  expose:
    - "8000"
  links:
    - db:db

db:
  image: mariadb
  volumes:
    - ./data/mysql:/var/lib/mysql
  environment:
    MYSQL_ROOT_PASSWORD: letmein
    MYSQL_DATABASE: spec_ibride
    MYSQL_USER: spec_ibride
    MYSQL_PASSWORD: letmein

