@import "../blocks/gallery/gallery.css";
@import "../blocks/tag/tag.css";
@import "../blocks/sidebar/sidebar.css";

body {
    padding-top: 50px;
}

.starter-template {
    padding: 40px 15px;
    text-align: center;
}
