body {
    padding-top: 50px;
}

.starter-template {
    padding: 40px 15px;
    text-align: center;
}

.gallery__item {
    margin: 0.5em;
}

.gallery__photo {
    position: relative;
    display: block;
    width: 200px;
    height: 200px;
    background-color: #a9a9a9;
}

.gallery__image {
    width: 200px;
    height: 200px;
}

.gallery__rating {
    position: absolute;
    display: block;
    bottom: .5em;
    right: .5em;
}

.gallery__pubdate {
    position: absolute;
    display: block;
    top: .5em;
    left: .5em;
}


.tag {
    margin-right: 1em;
    padding: .2em .5em;
    white-space: nowrap;
    border-radius: .5em;
}

.tag_active {
    color: #fff;
    background-color: #337ab7;
}

.tag_disabled {
    color: gray;
}

.tag_weight_1 {
    font-size: 75%;
}
.tag_weight_2 {
    font-size: 85%;
}
.tag_weight_3 {
}
.tag_weight_4 {
    font-size: 115%;
}
.tag_weight_5 {
    font-size: 125%;
}

.tag-cloud {
}


.sidebar {
    margin-left: 2em;
    margin-top: 11em;
}